.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
}

.quizz_question {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4224d9;
  border-radius: 0.5rem;
  background-color: #644ed2;
  width: 100%;
  height: 8rem;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.5rem;
}

.quizz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 1.5rem;
}

.btn-option {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  width: 40%;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0px 2px 0px #2f6627;
}

.btn-option:hover {
  background-color: #5cbf2a;
}

.btn-option:active {
  position: relative;
  top: 1px;
}
